.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 75%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.search-bar::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: '\f002';
  position: relative;
  left: -1.5em;
}

.video-item img {
  max-width: 64px;
}

.iframe-wrap {
  border-radius: 4px;
}

.video-detail .details {
  margin: 10px 0px 10px 0px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.video-detail .details .title {
  font-weight: bold;
  margin: 10px;
}

.video-detail .details .desc {
  margin: 10px;
}

.list-group {
  padding-left: 0.9375rem !important;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}

.media-heading {
  font-size: 13px;
  font-weight: bold;
}

.media-author {
  font-size: 11px;
}